body {
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  align-items: center;
  color: rgb(224, 101, 197);
}
input {
  background-color: rgb(224, 101, 197);
  border-color: transparent;
  border-radius: 25px;
  width: 50%;
  height: 15px;
  font-size: small;
  padding: 10px;
  font-weight: bold;
}
.cityCard {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  text-align: left;
  display: flex;
}
h2 {
  font-size: xx-large;
}

.info {
  font-size: small;
}

ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.magnifier {
  position: relative;
  background-color: transparent;
  border: transparent;
  margin-top: 30px;
  color: rgb(224, 101, 197);
}
input:focus,
input:focus {
  outline: 0;
}
input::placeholder {
  color: black;
}
loadingContainer {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-arround;
}
loadingCircle {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(224, 101, 197);
  border-radius: 0.25rem;
}
.deleteCityButon {
  background-color: transparent;
  border-color: rgb(224, 101, 197);
  border-radius: 100px;

  color: rgb(224, 101, 197);
}
